body {

	margin: 50px;

}

.list-question {


}

.list-answer-item {
	
	list-style-type: none;
}

.warnings {
    color: darkred;
    font-weight: bold;
}

.warnings > div {
    margin-bottom: 8px;
}